<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="github" value="https://nuget.pkg.github.com/FullD-Development/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<github>
			<add key="Username" value="FullD-Development" />
			<add key="ClearTextPassword" value="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" />
		</github>
	</packageSourceCredentials>
</configuration>